* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Victor Mono', sans-serif;
  font-weight: 200;
  font-size: large;
}

input {
  font-family: inherit;
  font-weight: 700;
}

button {
  font-family: inherit;
  font-weight: 700;
}
